RewriteEngine On

RewriteRule ^blog/([^/]+)$ article.php?slug=$1 [L,QSA]
RewriteRule ^category/([^/]+)$ index.php?category=$1 [L,QSA]
RewriteRule ^uploads/([^/]+)$ uploads.php?file=$1 [L,QSA]

ErrorDocument 404 /error/404.php